.image-user  {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    overflow: hidden;
    margin: 5px;
}

.image-user img  {
    width: 100%;
} 

.card-body {
    padding: 0px;
    margin-left: 15px;
}

.card {
    border-radius: 10px;
}

.card-body .label-stats {
    display: block;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}

.card-body .stats {
    margin: auto;
    border-top: 1px solid #eee;
}