<div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1 mt-5">

    <div class="jumbotron text-center" style="background-color: white;">
        <h1 class="display-4" style="font-weight: bolder;">{{title}}</h1>
        <p class="lead">
            Estás en la comunidad de lectores más grande de Argentina.<br>
            Comparte con los demas reseñas, frases y lo que cada libro te dejó :)
        </p>
        <hr class="my-4">
        <p>¿Cuál será la proxima historia que vivirás?</p>
        <a class="btn btn-info btn-lg" href="#" role="button">Mi perfil</a>
    </div>

</div>
