<div class="col pr-0 pl-0">
    <div class="jumbotron p-0 mb-0" style="background-color: white;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-contain text-center">
                    <h1 class="display-4" style="font-weight: bolder;">{{title}}</h1>
                    <p class="lead">
                        Estás en la comunidad de lectores más grande de Argentina.<br>
                        Comparte con los demas reseñas, frases y lo que cada libro te dejó :)
                    </p>
                    <hr class="my-4">
                    <p>¿Cuál será la proxima historia que vivirás?</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="../../../assets/book.jpg" alt="">
            </div>
        </div>
    </div>
</div>