<div class="container">
  <div class="row">
    <div class="card p-2 mb-3">
      <div class="row no-gutters">
        <div class="image-user float-left">
          <img
            src="{{ url + 'get-image-user/' + identity.image }}"
            class="card-img-top"
            *ngIf="identity.image"
          />
          <img
            src="assets/user.png"
            class="card-img-top"
            *ngIf="!identity.image"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{ identity.name + " " + identity.surname }}
          </h5>
          <div class="clear-fix"></div>
          <div class="row stats">
            <div class="label-stats" *ngIf="stats">
              <a
                style="text-decoration: none; color: black"
                [routerLink]="['/following', identity._id, 1]"
              >
                <p class="card-text mb-0 label-stats">
                  <i class="fas fa-user-check mr-2"></i>
                  Siguiendo
                </p>
                <p>{{ stats.following }}</p>
              </a>
            </div>
            <div class="label-stats" *ngIf="stats">
              <a
                style="text-decoration: none; color: black"
                [routerLink]="['/followers', identity._id, 1]"
              >
                <p class="card-text mb-0 label-stats">
                  <i class="fas fa-users mr-2"></i>
                  Seguidores
                </p>
                <p>{{ stats.followed }}</p>
              </a>
            </div>
            <div class="label-stats" *ngIf="stats">
              <a
                style="text-decoration: none; color: black"
                [routerLink]="['/profile', identity._id, 1]"
              >
                <p class="card-text mb-0 label-stats">
                  <i class="fas fa-comment-alt mr-2"></i>
                  Publicaciones
                </p>
                <p>{{ stats.publications }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
