<div class="card mb-3" style="max-width: 15rem; background-color: #fff;">
    <div class="card-header text-white bg-info">
        <h5 class="card-title">Hola, {{identity.name + ' ' + identity.surname}}</h5>
    </div>
    <img src="{{url +'get-image-user/' + identity.image}}" class="card-img-top" *ngIf="identity.image">
    <img src="assets/user.png" class="card-img-top" *ngIf="!identity.image">
    <div class="card-body" style="color: black;">
        <h6 class="card-title">{{identity.nick}}</h6>
        <div class="card-text" *ngIf="stats">
            <p class="card-text">
                <i class="fas fa-user-check ml-4 mr-2"></i>
                Siguiendo {{stats.following}}
            </p>
        </div>
        <div class="card-text" *ngIf="stats">
            <p class="card-text">
                <i class="fas fa-users ml-4 mr-2"></i>
                Seguidores {{stats.followed}}
            </p>
        </div>
        <div class="card-text" *ngIf="stats">
            <p class="card-text">
                <i class="fas fa-comment-alt ml-4 mr-2"></i>
                Publicaciones {{stats.publications}}
            </p>
        </div>
    </div>
</div>