<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h2 class="h2-title">{{ title }}</h2>
    </div>
  </div>
  <div class="row">
    <div id="publication" class="col-lg-6 col-md-6 mb-4">
      <app-publication (sended)="refresh($event)"></app-publication>
    </div>
    <div class="col-lg-7 col-md-6 mb-4">
      <div *ngFor="let publication of publications" class="item-publication">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="image-user float-left">
              <a [routerLink]="['/user-profile', publication.user._id]">
                <img
                  src="{{ url + 'get-image-user/' + publication.user.image }}"
                  class="card-img"
                  *ngIf="publication.user.image"
                />
                <img
                  src="assets/user.png"
                  class="card-img card-image-default"
                  *ngIf="!publication.user.image"
                />
              </a>
            </div>

            <div class="actions ml-auto">
              <div class="mt-1 mr-1" *ngIf="publication.file != 'null'">
                <button
                  class="btn btn-info"
                  *ngIf="showImage != publication._id"
                  (click)="showThisImage(publication._id)"
                >
                  <i class="fas fa-images"></i>
                </button>
                <button
                  class="btn btn-warning"
                  *ngIf="showImage == publication._id"
                  (click)="hideThisImage(publication._id)"
                >
                  <i class="fas fa-window-close"></i>
                </button>
              </div>

              <button
                type="button"
                class="btn btn-danger mt-1 mr-1"
                data-toggle="modal"
                data-target="#exampleModal"
                *ngIf="identity._id == publication.user._id"
              >
                <i class="far fa-trash-alt"></i>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        ¿Seguro que quieres eliminar la publicación?
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Si la borras no podrás recuperarla
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cancelar
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        (click)="deletePublication(publication._id)"
                      >
                        Eliminar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix" style="width: -webkit-fill-available;"></div>

            <div>
              <div class="card-body pb-0">
                <h6 class="card-title">
                  {{ publication.user.nick }}
                  <small class="text-muted">
                    -
                    {{
                      publication.created_at
                        | amFromUnix
                        | amLocale: "es"
                        | amTimeAgo
                    }}
                  </small>
                </h6>
                <p>
                  {{ publication.text }}
                </p>
              </div>
            </div>
          </div>

          <!---->

          <div
            class="col-lg-12 p-2"
            *ngIf="publication.file != 'null' && showImage == publication._id"
          >
            <img
              src="{{ url + 'get-image-pub/' + publication.file }}"
              class="col-lg-12"
            />
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="publications && publications.length">
        <button
          type="button"
          class="btn btn-dark m-1"
          (click)="viewMore()"
          *ngIf="!noMore"
        >
          Ver más
        </button>
        <button
          type="button"
          class="btn btn-info m-1"
          (click)="refresh($event)"
        >
          Ver nuevas publicaciones
        </button>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 mb-4 d-none d-md-block d-l-block">
      <app-sidebar></app-sidebar>
      <app-publication (sended)="refresh($event)"></app-publication>
    </div>
  </div>
</div>
