.item-publication .image-user  {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin: 5px;
    margin-bottom: -15px;
}

.item-publication .image-user img  {
    width: 100%;
} 

.card {
    border-radius: 10px;
}

/*
.card-body {
    padding: 0px;
    margin-left: 15px;
}
*/

.actions {
    display: -webkit-inline-box;;
}

@media (min-width: 767px) { 
    #publication {
        display: none;
    }
}

@media (max-width: 767px) { 
    #publication {
        display: block;
    }
}