<div class="container mt-4">
        <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1 mt-4 mb-4">
                        <h1 class="h1-strong h1-timeline text-center">{{title}}</h1>
                        <div *ngFor="let publication of publications" class="item-publication">
                                <div class="card card-timeline mb-3">
                                        <div class="row no-gutters">
                                                <div class="images">
                                                        <img src="{{ url + 'get-image-user/' + publication.user.image }}"
                                                                class="card-img" *ngIf="publication.user.image">
                                                        <img src="assets/user.png" class="card-img card-image-default"
                                                                *ngIf="!publication.user.image">
                                                </div>
                                                <div class="card-body">
                                                        <h5 class="card-title">{{publication.user.nick}}</h5>
                                                        <p class="card-text">{{publication.text}}</p>
                                                        <div class="date">
                                                                {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-dark m-1" (click)="viewMore()" *ngIf="!noMore">
                                        Ver más
                                </button>
                                <button type="button" class="btn btn-info m-1" (click)="refresh($event)">
                                        Ver nuevas publicaciones
                                </button>
                        </div>
                </div>
                <div class="col-12 col-lg-5 mt-4 mb-4">
                        <h1 class="h1-strong h1-timeline text-center">Hola {{identity.nick}}</h1>
                        <app-publication (sended)="refresh($event)"></app-publication>
                </div>
        </div>
</div>