<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #17a2b8;">
    <div class=" container-fluid">
        <a class="logo" href="#">
            <img src="./../assets/logo/logo2.png" alt="THOT Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            *ngIf="identity">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar" *ngIf="identity">
            <ul class="navbar-nav text-center ml-3">
                <!--ml-auto es margin left automatic todo lo que pueda-->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TimeLine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Personas</a>
                </li>
                <li>
            </ul>
            <ul class="navbar-nav text-center ml-auto">
                <li class="avatar mr-3">
                <img src="{{ url + 'get-image-user/' + identity.image}}" *ngIf="identity.image">
                </li>
                <li>
                    <div class="dropleft">
                        <button class="btn btn-outline-light dropleft-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{identity.nick}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" type="button" href="#">Mi perfil</a>
                            <a class="dropdown-item" type="button" [routerLink]="['/profile']">Mis datos</a>
                            <a class="dropdown-item" type="button" (click)="logout()">Cerrar sesión</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            *ngIf="!identity">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbar" *ngIf="!identity">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link" class="btn btn-outline-light" [routerLink]="['/login']">
                        Inicia sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<router-outlet></router-outlet>