<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #17a2b8;">
    <div class=" container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav"><!--ml-auto es margin left automatic todo lo que pueda-->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TimeLine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Personas</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<router-outlet></router-outlet>