<div class="container">
  <div class="row">
    <div>
      <div *ngFor="let publication of publications" class="item-publication">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="image-user float-left">
              <a [routerLink]="['/user-profile', publication.user._id]">
                <img
                  src="{{ url + 'get-image-user/' + publication.user.image }}"
                  class="card-img"
                  *ngIf="publication.user.image"
                />
                <img
                  src="assets/user.png"
                  class="card-img card-image-default"
                  *ngIf="!publication.user.image"
                />
              </a>
            </div>
            <div>
              <div class="card-body mt-1">
                <h6 class="card-title">
                  {{ publication.user.nick }}
                  <small class="text-muted">
                    -
                    {{
                      publication.created_at
                        | amFromUnix
                        | amLocale: "es"
                        | amTimeAgo
                    }}
                  </small>
                </h6>
                <p>
                  {{ publication.text }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="publications && publications.length">
        <button
          type="button"
          class="btn btn-dark m-1"
          (click)="viewMore()"
          *ngIf="!noMore"
        >
          Ver más
        </button>
      </div>
    </div>
  </div>
</div>
